button {
  margin-left: 20px;
  height: 50px;cursor: pointer;
  background: beige;
  font-size: 1.5rem;
  padding: 10px 15px;
  bottom: none;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(240, 240, 155);
}